@charset "utf-8";
@import url(../fonts/thsarabunnew.css);


/* ### GENERAL ### */

BODY {margin:0;padding:0; color:#333; font-family: Tahoma, MS Sans Serif, Microsoft Sans Serif, Verdana,Arial, Helvetica, sans-serif;
font-size:13px; font-weight:normal; background: url(../images/bg_pattern.jpg);background-repeat:repeat;  background-position:top center;}

.clr {clear:both; height:0; line-height:0; margin:0; padding:0; font-size:0; border:none;}
p { margin-left:10px; padding-right:20px;}
a {text-decoration:none; color:#0575d4;}
a:hover {color:#0190fe;}

/* ------- Remove Chrome's border around active fields ------- */

*:focus {outline: none;}

#wrap{position:relative; padding:0; margin:0 auto; width:100%; background: url(../images/bgtop.png);background-repeat:repeat-x;background-position:top center; height:651px;}
.main {position:relative; padding:0; margin:0 auto; width:990px;}

#wrap_products{position:relative; padding:0; margin:0 auto; width:100%; background: url(../images/bgtop_products.png);background-repeat:repeat-x;background-position:top center; height:651px;}


.flag_th a{display:block;width:24px; height:19px; background: url(../images/th_reg.png);background-repeat:no-repeat;  cursor:pointer;}
.flag_th a:hover,.flag_th a.active{width:24px; height:19px; background: url(../images/th_hot.png);background-repeat:no-repeat;}
.flag_eng a{display:block;width:24px; height:19px; background: url(../images/eng_reg.png);background-repeat:no-repeat;  cursor:pointer;}
.flag_eng a:hover,.flag_eng a.active{width:24px; height:19px; background: url(../images/eng_hot.png);background-repeat:no-repeat;}
.flag_chiness a{display:block;width:24px; height:19px; background: url(../images/chiness_reg.png);background-repeat:no-repeat;  cursor:pointer;}
.flag_chiness a:hover,.flag_chiness a.active{width:24px; height:19px; background: url(../images/chiness_hot.png);background-repeat:no-repeat;}


#logo{float:left; left:0; width:173px; height:172px; background: url(../images/logo.png); background-repeat:no-repeat; position:absolute;}

/* topmenu */

#topmenu {margin-left:200px; margin-top:35px;}
#topmenu ul{ margin:0; padding:0; list-style:none; display:inline; }
#topmenu ul li{ margin:0; padding-left:20px;  padding-right:25px; padding-bottom:20px;padding-top:20px; list-style:none; display:inline;background: url(../images/line_topmenu.jpg);background-repeat:no-repeat;background-position:right;}
.topmenu01 a{display:inline-block; width:25px; height:21px; background: url(../images/icon-home2_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu01 a:hover{width:25px; height:21px; background: url(../images/icon-home2.png);background-repeat:no-repeat;}
.topmenu02 a{display:inline-block; width:69px; height:25px; background: url(../images/topmenu01_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu02 a:hover{ width:69px; height:25px; background: url(../images/topmenu01_hot.png);background-repeat:no-repeat;}
.topmenu03 a{display:inline-block; width:54px; height:28px; background: url(../images/topmenu02_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu03 a:hover{ width:54px; height:28px; background: url(../images/topmenu02_hot.png);background-repeat:no-repeat;}
.topmenu04 a{display:inline-block; width:106px; height:25px; background: url(../images/topmenu03_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu04 a:hover{ width:106px; height:25px; background: url(../images/topmenu03_hot.png);background-repeat:no-repeat;}
.topmenu05 a{display:inline-block; width:61px; height:25px; background: url(../images/topmenu04_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu05 a:hover{ width:61px; height:25px; background: url(../images/topmenu04_hot.png);background-repeat:no-repeat;}
.topmenu06 a{display:inline-block; width:67px; height:25px; background: url(../images/topmenu05_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu06 a:hover{ width:67px; height:25px; background: url(../images/topmenu05_hot.png);background-repeat:no-repeat;}
.topmenu07 a{display:inline-block; width:65px; height:25px; background: url(../images/topmenu06_reg.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu07 a:hover{ width:65px; height:25px; background: url(../images/topmenu06_hot.png);background-repeat:no-repeat;}

.topmenu02_en a{display:inline-block; width:69px; height:25px; background: url(../images/eng/topmenu01_reg_eng.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu02_en a:hover{ width:69px; height:25px; background: url(../images/eng/topmenu01_hot_eng.png);background-repeat:no-repeat;}
.topmenu03_en a{display:inline-block; width:54px; height:28px; background: url(../images/eng/topmenu02_reg_eng.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu03_en a:hover{ width:54px; height:28px; background: url(../images/eng/topmenu02_hot_eng.png);background-repeat:no-repeat;}
.topmenu04_en a{display:inline-block; width:50px; height:25px; background: url(../images/eng/topmenu03_reg_eng.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu04_en a:hover{ width:50px; height:25px; background: url(../images/eng/topmenu03_hot_eng.png);background-repeat:no-repeat;}
.topmenu05_en a{display:inline-block; width:61px; height:25px; background: url(../images/eng/topmenu04_reg_eng.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu05_en a:hover{ width:61px; height:25px; background: url(../images/eng/topmenu04_hot_eng.png);background-repeat:no-repeat;}
.topmenu06_en a{display:inline-block; width:67px; height:25px; background: url(../images/eng/topmenu05_reg_eng.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu06_en a:hover{ width:67px; height:25px; background: url(../images/eng/topmenu05_hot_eng.png);background-repeat:no-repeat;}
.topmenu07_en a{display:inline-block; width:65px; height:25px; background: url(../images/eng/topmenu06_reg_eng.png);background-repeat:no-repeat; cursor:pointer;}
.topmenu07_en a:hover{ width:65px; height:25px; background: url(../images/eng/topmenu06_hot_eng.png);background-repeat:no-repeat;}


.fixture-list {position:absolute;right:17px; top:105px; list-style:none;}
.fixture-list li{display:block !important;background:none !important; padding:0 !important;}
.submenu01 a{display:inline-block; width:197px; height:20px; background: url(../images/supmenu_review_1.png);background-repeat:no-repeat; cursor:pointer;}
.submenu01 a:hover{width:197px; height:20px; background: url(../images/supmenu_review_1_hot.png);background-repeat:no-repeat;}
.submenu02 a{display:inline-block; width:197px; height:20px; background: url(../images/supmenu_review_2.png);background-repeat:no-repeat; cursor:pointer;}
.submenu02 a:hover{width:197px; height:20px; background: url(../images/supmenu_review_2_hot.png);background-repeat:no-repeat;}

	/* ### HIGHLIGHT ### */
	#slider{margin-top:34px;margin-left:30px;}
	#highLight{margin:0; padding:0; list-style:none;}
	#highLight ul,#highLight ul li {margin:0; padding:0; list-style:none; }
	.arrow_left{position:absolute; left:0px; top:380px;}
	.arrow_right{position:absolute; right:0px; top:380px;}

	#slider_products{margin-top:22px;margin-left:30px;}
	#highLight_products{margin:0; padding:0; list-style:none;}
	#highLight_products ul,#highLight_products ul li {margin:0; padding:0; list-style:none; }


	

/*products_recomment*/
#products_recomment{width:100%; margin-left:40px;margin-top:30px; }
.title_product{float:left; }
.line{float:left;background:url(../images/line2.png)repeat-x;height:11px;width:75%; margin-left:10px; margin-top:10px;}
#products_recomment ul{list-style:none; margin-top:20px; padding:0; float:left;}
#products_recomment ul li { list-style:none; padding:0; margin-right:20px; width:280px; height:170px; display: inline-block; zoom: 1;*display: inline; border:4px solid #e0e1d9; text-align:center;  vertical-align: top;}
.img_textproduct{margin-top:10px;}

/*products*/
#products {width:100%; margin-left:40px;margin-top:30px; }
#products ul{list-style:none; margin-top:20px; padding:0; float:left;}
#products ul li {background:url(../images/bg_product_item.gif)no-repeat; list-style:none; padding-top:20px;  margin-right:20px; width:271px; height:252px; display: inline-block; zoom: 1;*display: inline;  
text-align:center; vertical-align: top; font-size:17px; font-weight:normal; color:#dba06b;font-family: 'dokchamp';cursor:pointer;}
#products ul li:hover {background:url(../images/bg_product_item_hover.gif)no-repeat;cursor:pointer;}

#products ul li a {font-size:17px; font-weight:normal; color:#dba06b; font-family: 'dokchamp';letter-spacing:1px;word-spacing:5px;}

/*products detail*/
.pathlevel_1{color:#da9290;font-weight:bold; padding-left:5px;}
.pathlevel_2{color:#797979;}
.pathlevel_3{color:#a67a1f;}
#path{float:right; margin-right:10px; margin-top:5px;}
#products_detail{border:3px solid #fccec5; background-color:white;width:95%; margin-left:30px; padding-left:10px; border-radius:6px;margin-top:-5px;}
.title_products_detail{font-size:35px; color:#f97978; font-family: 'thaisansneue';margin-left:30px; }
#productshow{width:49%; float:left; text-align:center; margin-top:25px;}
.nav-thumb{ border: 1px solid #cccccc; width: 86px; height:77px; background:white;}
.nav-thumb:hover{border: 1px solid #f36c70;}

#movers-row{ height:95px; margin-top:23px; }
#movers-row div{ width: 21%; float: left;  margin-right:1px; }
#movers-row div a.cross-link{ float: right; }
.cross-link	{ display: block; width: 62px; margin-top: -14px; position: relative; padding-top: 15px; z-index: 9999; }
.cross-link:hover{ background:url(../images/productdetail_pic_hover.jpg) no-repeat; background-position:0px 4px;  display: block;  position: relative; z-index: 99999;}

#detail{width:49%; float:left; color:#6f6e6e; text-align:left; margin-top:25px;line-height:25px;}
.nameproduct2{font-size:14px; font-weight:bold; color:#6f6e6e;  padding-bottom:6px;}
.nameproduct{font-size:31px; color:#d9047c; font-family: 'thaisansneue'; padding-bottom:15px;}

#detail ul, #detail ul li{list-style:none; margin:0; padding:0;}

#detailproducts_more{margin-top:15px; margin-bottom:30px;  margin-left:30px;margin-right:20px;}
.title_detailproducts_more{color:#e86672; font-size:14px; text-decoration:underline;font-weight:bold; }
#detailproducts_more ul {list-style:none; margin:0; padding:0;}
#detailproducts_more ul li {list-style:none; margin-left:5px; padding-left:20px; background:url(../images/bullet1.jpg) no-repeat; background-position:0px 13px;
line-height:20px; padding-top:5px; padding-bottom:5px; color:#6f6e6e;}

/*news*/
.title_news{  float:left; padding-left:30px; padding-top:20px;}
.linenews{float:left;background:url(../images/line2.png)repeat-x;height:11px;width:80%; margin-left:10px; margin-top:30px;}

#news_bg{border:3px solid #fccec5; background-color:white;width:95%; margin-left:30px; padding-left:10px; border-radius:6px;margin-top:65px;}
	#contentnews_ {width:99%; padding:0; margin:0 auto;}
	#contentnews_ ul{list-style:none; margin:0; padding:0;}
	#contentnews_ ul li  {float: left;list-style:none; margin:0; padding-top:15px; padding-bottom:20px;  
	width:49%; top:56px; height:98px; }
	#contentnews_ ul li a {float: left;list-style:none; margin:0; padding:0;  display:block; }
	.imgNews_{ float: left; margin-right:7px; border:0; width:188px; height:100px; border:1px solid #e5e5e5; margin-left:5px;}
.boxtextnews2{ float: right; width:248px; height:95px; margin-right:3px; padding-top:2px; overflow: hidden;}
a.textNews2{color:#555555;}
a.textNews2:hover{color:#858282;}



/*newsupdate*/
#newsupdate{width:100%; margin-left:40px; margin-top:50px; }
.title_product{float:left; }
.line{float:left;background:url(../images/line2.png)repeat-x;height:11px;width:75%; margin-left:10px; margin-top:10px;}
.btn_more{background:url(../images/icon-more.png)no-repeat;height:41px; width:41px; position:absolute; left:910px; top:965px; cursor:pointer;}
.btn_more:hover{background:url(../images/icon-more_hot.png)no-repeat;height:41px; width:41px; left:910px; top:965px; }
#news{ margin-top:20px; margin-left:40px;  width:590px; float: left;}
#news ul{list-style:none;margin:0px; padding:0;}
#news ul li {  list-style:none; padding:0; margin-bottom:2px; width:590px; height:117px; display:block; background-color:white; }
.img_news{float: left; border:1px solid #e6e6e6; margin:7px;}
.dateNews{color:#656869; font-size:12px;font-family: 'THSarabunNew';}
.h_textNews{color:#f54442;font-weight:bold; font-size:14px; line-height:25px;font-family: 'THSarabunNew';}
a.textNews{color:#555555;}
a.textNews:hover{color:#858282;}
.boxtextnews{width:98%; margin-left:4px; padding-top:7px;}

/*fb*/
#fb{float:left; margin-top:20px; margin-left:25px; width:290px; border-top:1px solid #f0f1f3;border-bottom:1px solid #f0f1f3; background-color:#e1e2e4;}


/*gallery*/
#gallery {width:100%; margin-left:40px;margin-top:15px; }
#gallery ul{list-style:none; margin-top:15px; margin-left:30px;  padding:0; float:left;}
#gallery ul li { border:1px solid white;  outline:4px solid #fccec5; background:white; list-style:none; margin-right:30px; margin-bottom:30px;  width:180px; height:200px; overflow:hidden;
display: inline-block; zoom: 1;*display: inline;}
.imgGallery{ border:1px solid white;}
#pagenumber_gallery{width:670px; margin-left:140px;}
.pagenumber_gallery{float:left; color:#9a9a9a; font-size:11px; margin-top:0px; }
    .runpage_re_gallery{float:right;   margin-top:0px; margin-bottom:0px;}
    .runpage_re_gallery a{ color:#9a9a9a; display:inline-block; background:white; padding-left:8px;padding-right:8px; padding-top:1px;padding-bottom:2px; border:1px solid #edebeb;}
    .runpage_re_gallery a:hover{ color:white; background:#de8d8d;border:1px solid #feead2;}
    .runpage_re_gallery .current{ color:white; background:#de8d8d;border:1px solid #feead2;}
#gallery ul li:hover { border:1px solid white;  outline:4px solid #fbb3a5;}

/*path gallery*/
    .path_gallery_level_1 a{color:#df7e7e;font-weight:normal; padding-left:5px; font-size:15px;}
    .path_gallery_level_2{color:#797979;}
    .path_gallery_level_3{color:#a67a1f;}
    #path_gallery{float:right; margin-right:95px; margin-top:5px;}


    /*Album gallery*/
    .line_album {float:left;background:url(../images/line2.png)repeat-x;height:11px;width:80%; margin-left:10px; margin-top:10px;}
    #gallery_album {width:100%; margin-left:40px; margin-top:30px; }
    #gallery_album ul{list-style:none; margin-top:30px; margin-left:63px; padding:0; float:left;}
    #gallery_album  ul li { list-style:none; margin: 0 35px 35px 0; padding:0;display: inline-block;}
    .image-block{ display:block;position: relative;}
    .image-block img{border: 1px solid #d5d5d5; border-radius: 4px 4px 4px 4px;background:#FFFFFF;padding:10px;}
    .image-block img:hover{border: 1px solid #fbb3a5; box-shadow:0 0 5px #fbb3a5;}
    .album-text{margin-top:10px; font-weight:normal; font-size:15px; color:#c87717; text-align:center; display:block;}
    .album-text a{margin-top:10px; font-weight:normal; font-size:15px; color:#c87717; text-align:center; display:block;}
    .post-date{color:#888787; font-size:13px;text-align:center;}


/*review*/
.title_review{float:left;  }
.line_review{float:left;background:url(../images/line2.png)repeat-x;height:11px;width:83%; margin-left:10px; margin-top:10px;}
#review {width:100%; margin-left:40px;margin-top:30px; }
#review ul{list-style:none; margin-top:30px; margin-left:22px;  padding:0; float:left;}
#review ul li { border:1px solid #e8e8e8;  background:white; border-radius:3px; list-style:none; margin-right:30px; margin-bottom:30px;  width:270px; height:240px; overflow:hidden;
display: inline-block; zoom: 1;*display: inline; text-align:center; color:#cb7223;}
#review ul li:hover {  background:#ffcbc6; color:white;}
.imgvdo{ border:0;}
.text_review{margin-top:10px;  font-weight:bold; font-size:15px; padding-bottom:20px;}


/*agent*/
.line_agent{float:left;background:url(../images/line2.png)repeat-x;height:11px;width:73%; margin-left:10px; margin-top:10px;}
#agent {width:100%; margin-left:30px;margin-top:30px;  }
#agent ul{list-style:none; margin-top:30px; margin-left:20px; padding:0; float:left;}
#agent ul li { border:1px solid #e8e8e8;  background:white; border-radius:3px; list-style:none; margin-right:20px; padding:10px; margin-bottom:20px; 
width:430px; height:110px; display: inline-block; zoom: 1;*display: inline; color:#e79889; font-weight:normal;}
#agent ul li:hover {  background:#fdf6f5;border:1px solid white; color:#e29081;}
.name {color:#d96792; font-size:13px; font-weight:bold;}



/* ### footer ### */
#footer{position:relative; padding:0; margin:0 auto; background: #ebebeb url(../images/footerbg_1.png); background-repeat:repeat-x; font-weight:normal; 
text-align:center; color:black; line-height:20px;height:120px;  border-top:1px solid #dedddd;}






/*breadcrumb*/
#breadcrumb {font-size:13px; color:#aeaeae;}
.text_section{float:left; padding-top:5px; font-weight:bold; margin-left:50px; height:25px;}
.td_path{ background:url(../images/border_path_bg.png) repeat-x; padding-top:-6px;}
.text_path{float:right;padding-top:5px;margin-right:15px; }

	.hr1{border:0px; border-top: 1px solid #e8e5e5; height: 1px;position:absolute; float:left;width:100%;margin:0 auto; padding:0; top:550px;}


/*pagenumber*/
	#pagenumber{width:610px; margin-left:140px;}
	.pagenumber{float:left; color:#9a9a9a; font-size:11px; margin-top:30px; }

	.runpage_re{float:right;   margin-top:20px; margin-bottom:30px;}
	.runpage_re a{ color:#9a9a9a; display:inline-block; background:white; padding-left:8px;padding-right:8px; padding-top:1px;padding-bottom:2px; border:1px solid #edebeb;}
	.runpage_re a:hover{ color:white; background:#de8d8d;border:1px solid #feead2;}
	.runpage_re .current{ color:white; background:#de8d8d;border:1px solid #feead2;}
	a.arrowpage_left { display:inline-block; background:url(../images/left_page.jpg) no-repeat; width:23px; height:21px;cursor:pointer;border:0; margin-right:-15px;}
	a.arrowpage_right { display:inline-block; background: url(../images/right_page.jpg) no-repeat; width:23px; height:21px;cursor:pointer;border:0;  }
	a.arrowpage_left:hover{ background:url(../images/left_page.jpg) no-repeat; width:23px; height:21px;cursor:pointer;border:0; }
	a.arrowpage_right:hover{background: url(../images/right_page.jpg) no-repeat; width:23px; height:21px;cursor:pointer;border:0;  }




.menu-china{float:right; margin-right:40px; background: url(../images/menu-china.png) no-repeat; width:40px; height:14px;cursor:pointer;border:0; }
.menu-china:hover{background: url(../images/menu-china-hot.png) no-repeat; width:40px; height:14px;cursor:pointer;border:0; }
#contentchina ul { margin:0; padding-left:40px;}
#contentchina ul li { list-style:none; margin:0; padding:0; line-height:25px;}
.pad{padding-left:35px;}
.vdo{margin:0 auto; width:740px; text-align:center;}

#Album { width:100%; text-align:center; }
#Album ul{list-style:none; margin-top:30px; margin-left:30px;  padding:0; float:left;}
#Album ul li { position: relative; list-style:none; outline:4px solid #fccec5; border:1px solid white;  background:white; margin-right:30px; margin-bottom:30px;  width:220px; height:150px;
display: inline-block; zoom: 1;*display: inline;}

.clip_image {width: 30px;height: 61px;display: block; position: absolute; top: -5px;left: -2px; background: url(../images/paper-clip.png) no-repeat;}
.btnVdo{float:right; margin-right:70px;margin-top:10px;background: url(../images/button-vdo1.png) no-repeat; width:188px; height:33px;cursor:pointer;border:0; }
.btnVdo:hover{ background: url(../images/button-vdo1-hot.png) no-repeat; width:188px; height:33px;cursor:pointer;border:0; }
/****************************************************************/





